# Dependencies
/node_modules

# Environment Variables (Secrets)
.env
.env.*

# Editor/IDE Config (Optional, but recommended for clean repos)
.vscode/

# Build/Logs (Common best practice)
npm-debug.log*
.DS_Store